@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

html,
body {
    font-family: 'Kanit', sans-serif;
}

#app {
    font-family: 'Kanit', sans-serif;
}

.v-main {
    padding: 130px 0px 0px !important;
}

.text-grey {
    color: rgba(0, 0, 0, 0.54) !important;
}